body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  opacity:0.5;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u2 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:94px;
  top:597px;
  width:94px;
  height:50px;
  opacity:0.5;
  color:#333333;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:90px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:597px;
  width:94px;
  height:50px;
  opacity:0.5;
  color:#333333;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:50px;
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u5_img.disabled {
}
#u5.disabled {
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:90px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:188px;
  top:597px;
  width:94px;
  height:50px;
  opacity:0.5;
  color:#333333;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:50px;
}
#u7_img.mouseOver {
}
#u7.mouseOver {
}
#u7_img.disabled {
}
#u7.disabled {
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:90px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:281px;
  top:597px;
  width:94px;
  height:50px;
  opacity:0.5;
  color:#333333;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:50px;
}
#u9_img.mouseOver {
}
#u9.mouseOver {
}
#u9_img.disabled {
}
#u9.disabled {
}
#u10 {
  position:absolute;
  left:2px;
  top:17px;
  width:90px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:115px;
  top:525px;
  width:83px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u12 {
  position:absolute;
  left:198px;
  top:525px;
  width:83px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u13 {
  position:absolute;
  left:282px;
  top:525px;
  width:83px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u14 {
  position:absolute;
  left:6px;
  top:543px;
  width:100px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:42px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:42px;
}
#u16 {
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:146px;
  top:11px;
  width:75px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:21px;
  top:64px;
  width:70px;
  height:70px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u20 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:21px;
  top:183px;
  width:70px;
  height:70px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u22 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:21px;
  top:300px;
  width:70px;
  height:70px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u24 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:21px;
  top:420px;
  width:70px;
  height:70px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u26 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:115px;
  top:68px;
  width:150px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:115px;
  top:91px;
  width:150px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:115px;
  top:114px;
  width:150px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:115px;
  top:187px;
  width:150px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:115px;
  top:210px;
  width:150px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:115px;
  top:233px;
  width:150px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:115px;
  top:304px;
  width:150px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:115px;
  top:327px;
  width:150px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:115px;
  top:350px;
  width:150px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:115px;
  top:423px;
  width:150px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:115px;
  top:447px;
  width:150px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:115px;
  top:471px;
  width:150px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:508px;
  width:375px;
  height:10px;
}
#u51_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u52 {
  position:absolute;
  left:115px;
  top:563px;
  width:83px;
  height:25px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u53 {
  position:absolute;
  left:198px;
  top:563px;
  width:83px;
  height:25px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u54 {
  position:absolute;
  left:281px;
  top:563px;
  width:83px;
  height:25px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u55 {
  position:absolute;
  left:0px;
  top:393px;
  width:375px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u56 {
  position:absolute;
  left:0px;
  top:275px;
  width:375px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u57 {
  position:absolute;
  left:0px;
  top:155px;
  width:375px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
